nav,
footer {
    font-family: 'Indie Flower' !important;
    z-index: 2;
}
body {
    width: 100vw;
}
.formBoxBG {
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 25px;
    width:50vw;
    margin: auto;
    padding-left: 5px;
    height: 40vh;
    margin-top: 5vh;
}
.formBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.navbar-text {
    text-shadow: 0px 0px 20px lightblue;
}
.chart{
    margin: auto;
    width: 50vw;
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
}
.trash {
    width: 20px;
}
table {
    width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
table th{
    width: 200px;
    height: 20px;
}
table td {
    width: 200px;
    height: 20px;
}
.btn {
    width: 10vw;

}
form #textarea {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 200px;
    padding-right: 15px;
}
form .people {
    display: flex;
    flex-direction: row;
    width: 15vw;
}
form .money {
    padding: 10px;
    width: 16vw;
}

body {
    font-family: 'Mirza' !important;
    height: auto;
    text-overflow: ellipsis;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body a:hover {
    text-decoration: none;
}

html {
    width: 100vw;
    overflow-x: hidden;
}


.active {
    text-shadow: 2px 2px 3px black;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    text-shadow: 2px 2px 4px Black;
}

@keyframes slideUp {
    0% {
        transform: translateY(900px);
        opacity: 0;
    }

    100% {
        transform: translateY(auto);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-1500px);
        opacity: 0;
    }

    100% {
        transform: translateX(auto);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(1500px);
        opacity: 0;
    }

    100% {
        transform: translateX(auto);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateX(1000px);
        transform: translateY(-1000px);
    }

    100% {
        transform: translateX(auto);
        transform: translateY(auto);
    }
}

@keyframes party {
    0% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 300px;
        height: 300px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 600px) {
    .small-picture, .fixedbutton {
        display: none;
    }

    main iframe {
        width: 100vw;
    }

    ::-webkit-scrollbar {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    .large-picture {
        display: inline;
        width: 200px;
    }
}

@media screen and (min-width: 600px) {
    .large-picture {
        display: none;
    }
}